<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="tipoDeBaseDeDatos" value="MYSQL" />

		<add key="baseDeDatosMSSQL" value="transitsoft" />
		<add key="nombreDeHostMSSQL" value="progra3-parcial-mssql.cf6gu0642lwp.us-east-1.rds.amazonaws.com" />
		<add key="puertoMSSQL" value="1433" />
		<add key="usuarioMSSQL" value="admin" />

		<add key="baseDeDatosMySQL" value="transitsoft" />
		<add key="nombreDeHostMySQL" value="progra3-parcial-mysql.cf6gu0642lwp.us-east-1.rds.amazonaws.com" />
		<add key="puertoMySQL" value="3306" />
		<add key="usuarioMySQL" value="admin" />

		<add key="contraseña" value="ZgByAGEAbgBjAG8AZwBhAGwAbABhAHIAZABvAA==" />
	</appSettings>
</configuration>