bin/
packages/
.vs/
/Progra3_parcial/Backend_Java/TransitSoftWS/target/
/Lab14/TransitSoft/TransitSoftDBManager/target/
/Lab14/TransitSoft/TransitSoftModel/target/
/Lab14/TransitSoft/TransitSoftPersistance/target/
/Lab14/TransitSoft/TransitSoftBusiness/target/
/Lab14/TransitSoft/TransitSoftServidorWS/target/
/Lab14/TransitSoft/TransitSoftClienteWS/nbproject/
/Lab14/TransitSoft/TransitSoftClienteWS/target/
/Lab14/TransitSoft/TransitSoftWS/target/
/Final_25_1/Pregunta01/Pregunta01/TransitSoft/TransitSoftDBManager/target/
/Final_25_1/Pregunta01/Pregunta01/TransitSoft/TransitSoftPersistance/target/
/Restful_Melgar_0682/ClienteRESTFul/SoftInvBusinessClienteWS/nbproject/
/Restful_Melgar_0682/ClienteRESTFul/SoftInvBusinessClienteWS/target/
/Restful_Melgar_0682/ClienteRESTFul/SoftInvWS/target/
/Restful_Melgar_0682/ServidorRESTFul/SoftInvBusiness/target/
/Restful_Melgar_0682/ServidorRESTFul/SoftInvBusinessServidorWS/target/
/Restful_Melgar_0682/ServidorRESTFul/SoftInvDBManager/target/
/Restful_Melgar_0682/ServidorRESTFul/SoftInvModel/target/
/Restful_Melgar_0682/ServidorRESTFul/SoftInvPersistance/target/
/Restful_Melgar_0682/ServidorRESTFul/SoftInvBusiness/nbproject/
/Restful_Melgar_0682/ServidorRESTFul/SoftInvDBManager/nbproject/
/Restful_Melgar_0682/ServidorRESTFul/SoftInvPersistance/nbproject/
/Final_25_1/Pregunta01/Pregunta01/TransitSoft/SoftInvDBManager/nbproject/
/Final_25_1/Pregunta01/Pregunta01/TransitSoft/SoftInvDBManager/target/
/Final_25_1/Pregunta01/Pregunta01/TransitSoft/SoftInvPersistance/target/
/Final_25_1/Pregunta01/Pregunta01/TransitSoft/SoftInvPersistance/nbproject/
/Final_25_1/Pregunta01/Pregunta01/TransitSoft/TransitSoftDBManager/nbproject/
/Final_25_1/Pregunta01/Pregunta01/TransitSoft/TransitSoftPersistance/nbproject/
/Final_25_1/Pregunta01/Pregunta01/TransitSoft/TransitSoftDomain/target/
/Final_25_1/Pregunta01/Pregunta01/TransitSoft/TransitSoftBusiness/target/
/Final_25_1/Pregunta01/Pregunta01/TransitSoft/TransitSoftWR/target/
